//****************************************************************
//mixins
//****************************************************************
@mixin clearfix {
    overflow: auto;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin padding {
    padding: 12px 12px;
}
