* {
    margin: 0;
    padding: 0;
    box-sizing: $border-contain;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    color: #000;
}
