//****************************************************************
//variables
//****************************************************************
$dark: #353440;
$brown: #ed8934;
$white: #fff;
$wine: rgba(232, 219, 194, 0.35);
$transWhite: rgba(224, 223, 223, 0.34);
$background: #F8F8F8;
$font-weight: 300;
$font: lato;
$font-size: 1em;
$letter-spacing: 2px;
$border-contain: border-box;
